.game_field_wrapper {
  display: grid;
  grid-template-columns: repeat(12, 4.75vh);
  grid-template-rows: repeat(20, 4.75vh);
  height: fit-content;
  justify-self: flex-end;
  align-self: center;
  border: 3px solid rgb(162, 162, 162);
  background-color: rgb(16, 16, 16);
  grid-row: 1/5;
}

.cell {
  border: 1px solid rgba(58, 58, 58, 0.557);
}

.success_field {
  min-height: 205px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.success_item,
.start_game_btn {
  width: 150px;
  padding: 5px;
  font-size: 18px;
  border: 2px solid rgb(162, 162, 162);
  border-radius: 10px;
  background-color: rgb(16, 16, 16);
  color: rgba(198, 198, 198, 0.717);
}

.game_over {
  font-size: 30px;
  color: rgb(166, 18, 2);
  text-shadow: 2px 3px 4px rgb(174, 18, 18);
}

.gamepad_wrapper {
  display: flex;
  justify-content: space-around;
  border: 2px solid rgb(162, 162, 162);
  border-radius: 10px;
  column-gap: 30px;
  padding: 10px;
  background-color: rgb(16, 16, 16);
}


.gamepad_btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid rgb(162, 162, 162);
  cursor: pointer;
}

.move_buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25px;
  row-gap: 15px;
  align-items: center;
}

.rotate_button {
  display: flex;
  align-items: center;
}

.btn_left {
  background: url("../../../assets/left.svg");
}

.btn_right {
  background: url("../../../assets/right.svg");
}

.btn_down {
  grid-column: 1/3;
  justify-self: center;
  background: url("../../../assets/down.svg");
}

.btn_rotate {
  width: 50px;
  height: 50px;
  border-radius: 11px;
  background: url("../../../assets/rotate.svg");
}


@media screen and (max-width: 600px) {
  .game_field_wrapper {
    justify-self: center;
    align-self: center;
    grid-row: 2/3;
    grid-template-columns: repeat(12, 2.75vh);
    grid-template-rows: repeat(20, 2.75vh);
  }

  .game_over {
    font-size: 20px;
    grid-column: 1/5;
  }

  .success_field {
    min-height: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .success_item,
  .start_game_btn {
    width: 80px;
    padding: 3px;
    font-size: 12px;
    border-radius: 7px;
  }

  .gamepad_wrapper {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    column-gap: 40px;
  }

  .move_buttons {
    column-gap: 45px;
    row-gap: 15px;
    align-items: center;
  }
}