.tetris_wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
}

.page_content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.start_game_btn {
  width: 150px;
  font-family: 'Orbitron', sans-serif;
  line-height: 30px;
  font-size: 18px;
  border: 2px solid rgb(162, 162, 162);
  border-radius: 10px;
  background-color: gray;
  color: rgb(16, 16, 16);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .tetris_wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .start_game_btn {
    line-height: 20px;
    font-size: 14px;
  }
}